@tailwind base;
@tailwind components;
@tailwind utilities;

.acceleration {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}

html {
  touch-action: manipulation;
  overflow: hidden;
}
