@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  touch-action: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  @apply bg-white dark:bg-slate-900;
  overflow: hidden;
}
