@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  touch-action: none;
}

body {
  @apply bg-white dark:bg-slate-900;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
